@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: Poppins !important;
}

/* landing page  */

section#landing-page {
    min-height: 100vh !important;
    background-image: url("/img/bg-img.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 32px;
}

section#landing-page nav {
    width: 100% !important;
    z-index: 1000 !important;
    position: fixed !important;
    padding: 0 36px;
}

section#landing-page nav .nav-body {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
    max-width: 1230px;
    margin: 0 auto;
    width: 100%;
}

section#landing-page nav .btn-menu {
    font-size: 32px;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    display: none;
}

section#landing-page nav .is-btn-and-logo {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

section#landing-page nav .btn-menu .menu.off,
section#landing-page nav .btn-menu .close {
    display: none;
}

section#landing-page nav .btn-menu .menu,
section#landing-page nav .btn-menu .close.on {
    display: block;
}

section#landing-page nav .logo {
    display: grid !important;
    grid-template-columns: auto auto;
    gap: 8px;
    align-items: center;
} 

section#landing-page nav .logo img {
    width: 45px;
}

section#landing-page nav .logo h3 {
    color: white !important;
    font-size: 22px;
    font-weight: 500;
}

section#landing-page nav ul {
    display: flex !important;
    flex-direction: row;
    width: fit-content;
    gap: 32px;
}

section#landing-page nav ul li {
    list-style: none;
}

section#landing-page nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

section#landing-page nav .btn-keranjang {
    display: grid !important;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: #FFA41B;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

section#landing-page nav .btn-keranjang ion-icon {
    font-size: 24px;
}

section#landing-page nav .btn-keranjang p {
    font-size: 16px;
}

section#landing-page .container {
    width: 100% !important;
    flex-grow: 1 !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 93px;
    padding: 0 36px;
}

section#landing-page .container .containt {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    max-width: 1230px;
    margin: 0 auto;
}

section#landing-page .container .containt .text-containt p.slogan-1 {
    background-color: #FFA41B;
    padding: 10px 24px;
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
    font-size: 16px;
    color: white;
    width: fit-content;
    font-weight: 500;
    margin-bottom: 16px;
}

section#landing-page .container .containt .text-containt h1.slogan-2 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
    line-height: 64px;
    max-width: 600px;
}

section#landing-page .container .containt .text-containt h1.slogan-2 span {
    color: #FFA41B;
}

section#landing-page .container .containt .text-containt .text {
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
    max-width: 550px;
}

section#landing-page .container .containt .text-containt .list-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

section#landing-page .container .containt .text-containt .list-buttons a {
    text-decoration: none;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 4px;
    width: fit-content;
    font-weight: 500;
    color: white;
}


section#landing-page .container .containt .text-containt .list-buttons a.btn-keunggulan {
    background-color: #FFA41B;
}

section#landing-page .container .containt .text-containt .list-buttons a.btn-produk {
    border: 2px solid white;
}

section#landing-page .container .containt .image-containt img { 
    width: 100%;
}

@media screen and (max-width:1020px) {
    section#landing-page .image-containt img {
        width: 500px !important;
    }
}

@media screen and (max-width:995px) {
    section#landing-page .container .containt {
        flex-direction: column-reverse;
    }

    section#landing-page .container .containt .text-containt p.slogan-1 {
        font-size: 14px;
    }
    
    section#landing-page .container .containt .text-containt h1.slogan-2 {
        width: 100% !important;
    }
}

@media screen and (max-width:755px) {

    section#landing-page .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    section#landing-page nav {
        padding: 0;
    }

    section#landing-page nav .nav-body {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        justify-content: start;
        padding: 18px 0px;
        height: 83px;
        overflow: hidden;
    }

    section#landing-page nav.active {
        height: 100%;
        transition: height 0.2s ease;
    }

    section#landing-page nav.active .nav-body{
        transition: height 0.2s ease;
        height: 100%;
        background-color: rgba(35, 49, 66, 1) !important;
    }

    section#landing-page nav .is-btn-and-logo {
        padding: 0px 24px;
    }

    section#landing-page nav .nav-body ul {
        width: 100%;
        font-size: 18px;
        flex-direction: column;
        gap: 0px;
        /* display: none !important; */
    }

    section#landing-page nav ul li {
        width: 100%;
    }

    section#landing-page nav ul li a {
        padding: 16px 24px;
        display: block;
        width: 100%;
    }

    section#landing-page nav ul li a:hover {
        background-color: rgb(31, 43, 56);
    }

    section#landing-page nav .btn-keranjang {
        width: 100%;
        justify-content: center;
        align-items: center;
        /* display: none !important; */
    }

    .containt-btn {
        padding: 0px 24px;
        width: 100%;
    }

    section#landing-page nav  .is-btn-and-logo .btn-menu {
        display: grid;
        position: relative;
    }

    section#landing-page nav .is-btn-and-logo {
        width: 100%;
    }

    section#landing-page .image-containt img {
        max-width: 100%;
    }
}

@media screen and (max-width:500px) {
    section#landing-page .container .containt .text-containt h1.slogan-2 {
       font-size: 36px;
       line-height: 48px;
    }

    section#landing-page .container .containt .text-containt .list-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    section#landing-page .container .containt .text-containt .list-buttons a {
        width: 100%;
        text-align: center;
    }


}

/* keunggulan  */

section#keunggulan {
    width: 100%;
    background-color: white !important;
    padding: 48px 36px;
}
section#keunggulan .container {
    display: grid !important;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 1230px;
    width: 100%;
    gap: 48px;
    margin: 0 auto;
}

section#keunggulan .container .title-keunggulan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#keunggulan .container .title-keunggulan h2 {
    font-size: 36px;
    color: rgb(35, 49, 66);
    font-weight: bold;
}

section#keunggulan .container .title-keunggulan h3 {
    font-size: 20px;
    color: #FFA41B;
    font-weight: bold;
}

section#keunggulan .container .list-keunggulan {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

section#keunggulan .container .list-keunggulan .item-keunggulan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

section#keunggulan .container .list-keunggulan .item-keunggulan .icon {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #BDC2C7;
    border-radius: 50%;
    color: rgb(35, 49, 66);
}

section#keunggulan .container .list-keunggulan .item-keunggulan h3 {
    font-size: 20px;
    color: rgb(35, 49, 66);
    font-weight: bold;
    text-align: center;
}

section#keunggulan .container .list-keunggulan .item-keunggulan p {
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 755px) {
    section#produk
    section#keunggulan {
        padding: 48px 16px;
    }
}

@media screen and (max-width:896px) {
    section#keunggulan .container .list-keunggulan {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:620px) {
    section#keunggulan .container {
        gap: 32px;
    }
    
    section#keunggulan .container .list-keunggulan {
        grid-template-columns: 1fr;
    }

    section#keunggulan .title-keunggulan h2 {
        font-size: 28px;
    }
    
    section#keunggulan .title-keunggulan h3 {
        font-size: 18px;
    }

    section#keunggulan .list-keunggulan .item-keunggulan h3 {
        font-size: 18px;
    }
    
    section#keunggulan .list-keunggulan .item-keunggulan p {
        text-align: center;
        font-size: 14px;
    }
}

/* produk  */

section#produk {
    padding: 40px 36px;
    min-height: 100vh !important;
    background-color: #EDEDEE !important;
    display: grid !important;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 24px;
    overflow: hidden;
}

section#produk .title-produk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#produk .title-produk h2 {
    font-size: 36px;
    color: rgb(35, 49, 66);
    font-weight: bold;
}

section#produk .title-produk h3 {
    font-size: 20px;
    color: #FFA41B;
    font-weight: bold;
}

/* -- search */

section#produk .search {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 24px;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}

section#produk .search p {
    font-size: 22px;
    color: rgb(35, 49, 66);
    font-weight: 500;
} 

section#produk .search .form-search {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #BDC2C7;
}

section#produk .search .form-search .search-input {
    width: 100%;
    border: none;
    background-color: white;
    padding: 8px 16px;
    font-size: 16px;
    outline: none;
}

section#produk .search .form-search .search-input::placeholder {
    color: #BDC2C7;
}

section#produk .search .form-search .btn-search {
    width: 50px;
    height: 41px;
    font-size: 22px;
    color: white;
    background-color: rgb(35, 49, 66);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* -- detail produk  */

#card-detail-produk {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: start;
    gap: 16px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    position: relative;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.05);
}

#card-detail-produk #close-card-detail-product {
    background-color: #bdc2c78a;
    color: #233142;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    position: absolute;
    border-radius: 25px;
    right: 0;
    margin: 24px 24px 0 0;
    cursor: pointer;
}

#card-detail-produk .image-product {
    max-width: 450px;
    max-height: 450px;
    width: 100%;
    height: 100%;
    background-color: #545454;
    overflow: hidden;
    border-radius: 8px;
    color: #233142;
}

#card-detail-produk .image-product img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#card-detail-produk .info-product h1 {
    font-size: 32px;
    margin-bottom: 24px;
    color: #233142;
    padding-right: 60px;
}

#card-detail-produk .info-product .deskripsi {
    overflow: hidden;
    font-size: 16px;
}

#card-detail-produk .info-product .deskripsi p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    color: #233142;
    margin-bottom: 4px;
}

#card-detail-produk .info-product .deskripsi p:nth-child(2) {
    max-height: 250px;
    overflow-y: scroll;
    margin-bottom: 16px;
    padding-right: 5px;
}

#card-detail-produk .info-product .deskripsi p:nth-child(2)::-webkit-scrollbar {
    width: 5px;
}

#card-detail-produk .info-product .deskripsi p:nth-child(2)::-webkit-scrollbar-thumb {
    background-color: #233142; 
    border-radius: 3px;
}

#card-detail-produk .info-product .deskripsi p:nth-child(2)::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 3px;
}

#card-detail-produk .info-product .hargaJmlBarang {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 4px;
}

#card-detail-produk .info-product .hargaJmlBarang .harga p:nth-child(1) {
    color: #233142;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
}

#card-detail-produk .info-product .hargaJmlBarang .harga p:nth-child(2) {
    color: #FFA41B;
    font-size: 32px;
    font-weight: 600;
}
#card-detail-produk .info-product .hargaJmlBarang .jmlBarang p {
    color: #233142;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 4px;
}

#card-detail-produk .info-product .hargaJmlBarang ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EDEDEE;
    border-radius: 27px;
    padding: 4px;
    width: fit-content;
}

#card-detail-produk .info-product .hargaJmlBarang ul li {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#card-detail-produk .info-product .hargaJmlBarang ul li:nth-child(2) {
    min-width: 45px;    
    font-size: 24px;
    color: #233142;
    font-weight: 500;
}

#card-detail-produk .info-product .hargaJmlBarang ul li:nth-child(1),
#card-detail-produk .info-product .hargaJmlBarang ul li:nth-child(3) {
    background-color: #233142;
    width: 45px;
    color: white;
    font-size: 24px;
    border-radius: 23px;
    cursor: pointer;
}

#card-detail-produk .info-product .size p {
    font-size: 18px;
    font-weight: 600;
    color: #233142;
    margin-bottom: 4px;
}

#card-detail-produk .info-product .size #list-size {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 16px;
}

#card-detail-produk .info-product .size #list-size .item-size {
    padding: 4px 20px;
    border: 2px solid #233142;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #233142;
    cursor: pointer;
}

#card-detail-produk .info-product .size #list-size .item-size.active {
    background-color: #233142;
    color: white;
}

#card-detail-produk .info-product .PriceQuantityBundle {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    justify-content: space-between;
    align-items: end;
}

#card-detail-produk .info-product .PriceQuantityBundle .totalByr p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    color: #233142;
}

#card-detail-produk .info-product .PriceQuantityBundle .totalByr p:nth-child(2) {
    font-size: 28px;
    font-weight: 700;
    color: #FFA41B;
}

#card-detail-produk .info-product .PriceQuantityBundle .bayar #btn-bayar {
    padding: 10px 32px;
    background-color: #233142;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

/* -- list produk  */

section#produk #list-produk {
    display: grid !important;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

section#produk .item-produk {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    display: block;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.05);
}

section#produk .item-produk .img-produk {
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 16px;
}

section#produk .item-produk .img-produk img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section#produk .item-produk .title {
    width: 100%;
    display: grid;
    grid-row: 1fr;
    overflow: hidden;
    margin-bottom: 8px;
}

section#produk .item-produk h2.nama-produk {
    color: rgb(35, 49, 66);
    font-size: 24px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section#produk .item-produk p.qty {
    font-size: 18px;
    color: #545454;
    font-weight: 500;
    margin-bottom: 8px;
}

section#produk .item-produk .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

section#produk .item-produk .price h2 {
    font-size: 20px;
    color: #FFA41B;
}

section#produk .item-produk .price .btn-buy {
    border: none;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(35, 49, 66);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 28px;
}

/* -- pagination */

#pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: #FFA41B; */
    gap: 16px;
    align-items: center;
    margin-top: 16px;
}

#pagination p {
    font-size: 16px;
    font-weight: 500;
}

#pagination ul{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 8px;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
    align-items: center;
}

#pagination ul li {
    list-style: none;
}

#pagination ul li p {
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

#pagination ul li .prev,
#pagination ul li .next {
    background-color: #233142;
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 1030px) {
    
    #card-detail-produk .image-product {
        max-width: 350px;
        max-height: 350px;
    }

    section#produk .search {
        grid-template-columns: 1fr 300px;
    }

    section#produk .search .space {
        display: none;
    }

    section#produk #list-produk {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {

    #card-detail-produk {
        grid-template-columns: 1fr;   
    }

    #card-detail-produk .info-product h1 {
        padding-right: 0px;
    }

    #card-detail-produk .image-product {
        max-width: 100%;
        height: 300px;
    }

}

@media screen and (max-width: 755px) {

    section#produk {
        padding: 48px 16px;
    }

    section#produk .search {
        grid-template-columns: auto 300px;
        gap: 16px;
    }

    section#produk #list-produk {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    section#produk .item-produk {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto 1fr;
        gap: 16px;
    }

    section#produk .item-produk .img-produk {
        height: 110px;
        width: 110px;
        margin-bottom: 0px;
    }

    section#produk .item-produk h2.nama-produk {
        margin-bottom: 0px;
    }
    
    section#produk .item-produk p.qty {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 622px) {
    section#produk .search {
        grid-template-columns: 1fr;
        gap: 8px;
    }
}

@media screen and (max-width: 500px) {
    section#produk .search p {
        font-size: 16px;
    } 

    section#produk .item-produk {
        padding: 8px;
        gap: 8px;
    }

    section#produk .item-produk .img-produk {
        height: 90px;
        width: 90px;
    }

    section#produk .item-produk h2.nama-produk {
        margin-bottom: 2px;
        font-size: 16px;
    }
    
    section#produk .item-produk p.qty {
        margin-bottom: 0px;
        font-size: 14px;
    }

    section#produk .item-produk .price h2{
        font-size: 16px;
    }

    section#produk .item-produk .price .btn-buy {
        font-size: 14px;
        border-radius: 4px;
        padding: 8px 18px;
    }

    #card-detail-produk .info-product .PriceQuantityBundle {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    #card-detail-produk .info-product .PriceQuantityBundle .totalByr {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #card-detail-produk .info-product .hargaJmlBarang {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 8px;
    }

    #card-detail-produk .info-product .hargaJmlBarang .harga {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    #card-detail-produk .info-product .hargaJmlBarang .harga p:nth-child(1) {
        margin-bottom: 0;
    }

    #card-detail-produk .info-product .hargaJmlBarang .harga p:nth-child(2) {
        font-size: 28px;
    }

    #card-detail-produk .info-product .hargaJmlBarang .jmlBarang {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    #card-detail-produk .info-product .hargaJmlBarang ul {
        border-radius: 22px;
    }
    
    #card-detail-produk .info-product .hargaJmlBarang ul li {
        height: 40px;
    }
    
    #card-detail-produk .info-product .hargaJmlBarang ul li:nth-child(2) {
        min-width: 40px;    
        font-weight: 500;
    }

    #card-detail-produk .info-product .hargaJmlBarang ul li:nth-child(1),
    #card-detail-produk .info-product .hargaJmlBarang ul li:nth-child(3) {
        width: 40px;
        border-radius: 20px;
    }

    #card-detail-produk .info-product .deskripsi p:nth-child(2) {
        max-height: 150px;
    }
}

@media screen and (max-width: 400px) {
    #card-detail-produk .info-product h1 {
        font-size: 28px;
    }

    #card-detail-produk .info-product .hargaJmlBarang .harga p:nth-child(2) {
        font-size: 24px;
    }

    #card-detail-produk .info-product .PriceQuantityBundle .totalByr p:nth-child(2) {
        font-size: 24px;
    }

    #card-detail-produk .image-product {
        max-width: 100%;
        height: 200px;
    }

}

section#footer {
    width: 100%;
    background-color: #233142;
}

section#footer .container {
    width: 100%;
    padding: 40px 36px;
}

section#footer .footer-content {
    max-width: 1230px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: start;
    gap: 64px;
    color: white;
}

section#footer .footer-content .about {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

section#footer .footer-content .kontak,
section#footer .footer-content .subscribe {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

section#footer .footer-content .about img {
    width: 200px;
}

section#footer .footer-content .about p {
    font-size: 14px;
}

section#footer .footer-content .subscribe h3,
section#footer .footer-content .kontak h3 {
    font-size: 24px;
    font-weight: 400;
}

section#footer .footer-content .kontak .no-tlp,
section#footer .footer-content .kontak .email {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    align-items: center;
}

section#footer .footer-content .kontak .lokasi {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    align-items: start;
}

section#footer .footer-content .kontak ion-icon {
    font-size: 28px;
}

section#footer .footer-content .kontak p {
    font-size: 16px;
}

section#footer .footer-content .subscribe #input-subscribe {
    width: 100%;
    border: none;
    background-color: white;
    padding: 8px 16px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
}

section#footer .footer-content .subscribe #input-subscribe::placeholder {
    color: #BDC2C7;
}

section#footer .footer-content .subscribe .btn-subscribe {
    display: grid !important;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: #FFA41B;
    padding: 10px 16px;
    border-radius: 4px;
    width: fit-content;
    border: none;
    font-size: 16px;
}

section#footer .copyRight {
    padding: 16px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #111821;
}

section#footer .copyRight h3 {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 1030px) {
    section#footer .footer-content {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    section#footer .footer-content .subscribe #input-subscribe {
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 755px) {
    section#footer .container {
        padding: 40px 16px;
    }

    section#footer .footer-content .subscribe #input-subscribe {
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 600px) {
    section#footer .footer-content {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}
